# OSX #
.DS_Store

# Byte-compiled / optimized / DLL files #
__pycache__/
staticfiles/
*.py[cod]
*$py.class
**/migrations/**
!**/migrations
!**/migrations/__init__.py
.vscode/

# Django #
*.log
db.sqlite3
media

# Virtual environment
.venv
.coverage
.env
docker-compose-prod.yml
