{% extends "_base.html" %}

{% load static %}
{% block title %}
  Project List
{% endblock title %}
{% block content %}
  <h1>Show All Projects For Logged In User</h1>
  <div class="list-group">
    {% for project in project_list %}
      <p>
        <h5>
          <a href="{% url 'cases' project.pk %}">{{ project.name }}</a>
        </h5>
        is tracking
      </p>
      <p>metrics:</p>
      {% for metric in project.tracked_metrics.all %}<p>{{ metric }}</p>{% endfor %}
      <p>users:</p>
      {% for author in project.author.all %}<p>{{ author }}</p>{% endfor %}
    {% endfor %}
  </div>
{% endblock content %}
