{% extends "_base.html" %}

{% load static %}
{% block title %}
  Project List
{% endblock title %}
{% block content %}
  <h3>Show All Projects For Logged In User</h3>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    {% for project in project_list %}
      <div class="accordion-item">
        <h2 class="accordion-header"
            id="panelsStayOpen-heading{{ forloop.counter }}">
          <button class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapse{{ forloop.counter }}"
                  aria-expanded="true"
                  aria-controls="panelsStayOpen-collapse{{ forloop.counter }}">{{ project.name }} is tracking</button>
        </h2>
        <div id="panelsStayOpen-collapse{{ forloop.counter }}"
             class="accordion-collapse collapse show"
             aria-labelledby="panelsStayOpen-heading{{ forloop.counter }}">
          <div class="accordion-body">
            <h5>
              <a href="{% url 'cases' project.pk %}">{{ project.name }}</a>
            </h5>
            <p>metrics:</p>
            {% for metric in project.tracked_metrics.all %}<p>{{ metric }}</p>{% endfor %}
            <p>users:</p>
            {% for author in project.author.all %}<p>{{ author }}</p>{% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
