{% extends "_base.html" %}

{% load static %}
{% block title %}
  Project List
{% endblock title %}
{% block content %}
  <h3>Show All Projects For Logged In User</h3>
  <div class="accordion" id="accordionPanelsStayOpen">
    {% for project in project_list %}
      <div class="accordion-item">
        <h6 class="accordion-header"
            id="panelsStayOpen-heading{{ forloop.counter }}">
          <button class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapse{{ forloop.counter }}"
                  aria-expanded="false"
                  aria-controls="panelsStayOpen-collapse{{ forloop.counter }}">
            Project name: {{ project.name }}
          </button>
          {% if project.case_target > 0 %}
            <br>
            &emsp;Case status: {{ project.case_set.count }} / {{ project.case_target }}
            <br>
            <br>
            <div class="progress">
              <div class="progress-bar"
                   role="progressbar"
                   style="width:{% widthratio project.case_set.count project.case_target 100 %}%"
                   aria-valuenow="{% widthratio project.case_set.count project.case_target 100 %}"
                   aria-valuemin="0"
                   aria-valuemax="100"></div>
            </div>
            <br>
          {% endif %}
        </h6>
        <div id="panelsStayOpen-collapse{{ forloop.counter }}"
             class="accordion-collapse collapse"
             aria-labelledby="panelsStayOpen-heading{{ forloop.counter }}">
          <div class="accordion-body">
            <a class="btn btn-primary"
               href="{% url 'cases' project.pk %}"
               role="button">View Cases</a>
            <br>
            <br>
            <h6>Metrics:</h6>
            {% for metric in project.tracked_metrics.all %}<p>{{ metric.name|capfirst }} is {{ metrics }}</p>{% endfor %}
            <p>users:</p>
            {% for author in project.author.all %}<p>{{ author }}</p>{% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
